	.container-fluid {
		margin-left: 15%;
	}

	.devicon-mysql-plain {
		padding: 30px;
	}

	.devicon-jquery-plain-wordmark {
		padding: 30px;
	}

	.devicon-bootstrap-plain-wordmark {
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.typed {
		animation: type 3s;
		font-size: 1.7vw;
		white-space: nowrap;
		overflow: hidden;
	}

	@keyframes type {
		0%{width: 0px;}
	}

	.blinker {
		animation: blinker 1s infinite;
	}

	@keyframes blinker {
		0%{opacity: 0;}
	}

	.changer {
		
		animation: changer 8s infinite;
	}

	@keyframes changer {
		0%{color: red}
		25%{color: purple;}
		50%{color: blue;}
		75%{color: green;}
		100%{color: red;}
	}

	.devicon-javascript-plain {
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.devicon-git-plain-wordmark {
		padding: 30px;
	}

	.devicon-linux-plain {
		padding: 30px;
	}

	.devicon-vim-plain {
		padding: 30px;
	}

	.navbar-brand {
		color: gray;
	}

	.devicon-android-plain-wordmark {
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.devicon-ubuntu-plain-wordmark {
		padding: 30px;
	}

	.enter-button {
		
		position: absolute;
		bottom: 50px;
		left: 50%;
		margin-left: -125px;
	}

	.resume-button {
		padding-top: 35px;
	}

	footer {
		 background: #333;
		 color: eee;
		 font-size: 11px;
		 padding: 20px;
	}

	ul.unstyled {
		list-style: none;
		padding: 0;
	}

	.ghost-button-transition {
		display: inline-block;
		width: 250px;
		padding: 8px;
		color: rgb(17, 85, 119);
		border: 2px solid rgb(17, 85, 119);
		border-radius: 5px;
		text-align: center;
		outline: none;
		text-decoration: none;
		transition: background-color 0.2s ease-out,
		color 0.2s ease-out;
	}

	.ghost-button:hover,
	.ghost-button:active {
		text-decoration: none;
		background-color: rgb(17, 85, 119);
		color: white;
		transition: background-color 0.3s ease-in,
					color 0.3s ease-in;
	}

	.ghost-button {
		display: inline-block;
		width: 250px;
		padding: 8px;
		color: rgb(17, 85, 119);
		border: 1px solid rgb(17, 85, 119);
		text-align: center;
		outline: none;
		text-decoration: none;
	}

	.ghost1-button-transition {
		display: inline-block;
		width: 250px;
		padding: 8px;
		color: black;
		border: 2px solid rgb(255, 255, 255);
		border-radius: 5px;
		text-align: center;
		outline: none;
		text-decoration: none;
		transition: background-color 0.2s ease-out,
		color 0.2s ease-out;
	}

	.ghost1-button:hover,
	.ghost1-button:active {
		text-decoration: none;
		background-color: white;
		color: black;
		transition: background-color 0.3s ease-in,
					color 0.3s ease-in;
	}

	.ghost1-button {
		display: inline-block;
		width: 250px;
		padding: 8px;
		color: rgb(255, 255, 255);
		border: 1px solid rgb(255, 255, 255);
		text-align: center;
		outline: none;
		text-decoration: none;
	}

	.ih-item {
		margin-left: -10%;
		
	}
	.row {
		padding: 22px
	}
	body {
		color: gray;
		background-color: white;
		height: 100%;
		width: 100%;
		padding-top: 50px;
	}

	.navbar-fixed-top {
		display: inline-block;
	}
	.nav-pills a{
		
		color: gray; 
		font-size: 1.4em;
	}

	.nav-pills {
		background-color: white;

	}

	.tools-section {
		padding-top: 45px;
	}

	.tools-section3 {
		padding-top: 18px;
	}

	.tools-section2 {
		padding-top: 30px;
		padding-bottom: 18px;
	}

	.btn-linkedin {
		padding: 18px 18px;
    	font-size: 18px;
    	border-radius: 8px;
	}

	.btn-github {
		padding: 18px 18px;
    	font-size: 18px;
    	border-radius: 10px;
	}

	.btn-dropbox {
		padding: 18px 18px;
    	font-size: 18px;
    	border-radius: 10px;
	}

	.block {
		background-color: white;
		opacity: 0.7;
		padding: 10px;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
	}

	h1 {
		padding: 0;
		margin-top: 0px;
		font-size: 4.0em;
		color: gray;
	}

	h2 {
		color: rgb(17, 85, 119);
	}

	h3 {
		color: white;
	}

	h4 {
		color: black; 
	}

	h5 {
		color: black;
	}

	.demo a {
		padding-left: 10px;
		position: absolute;
		bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 2;
		display: inline-block;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		color: #fff;
		font : normal 400 20px/1 'Josefin Sans', sans-serif;
		letter-spacing: .1em;
		text-decoration: none;
		transition: opacity .3s;
	}

	.demo a:hover {
		opacity: .5;
	} 

	scrollbtn a span {
		position: absolute;
		top: 0;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: sdb05 1.5s infinite;
		animation: sdb05 1.5s infinite;
		box-sizing: border-box;
	}

	@-webkit-keyframes sdb05 {
		0% {
			-webkit-transform: rotate(-45deg) translate(0, 0);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			-webkit-transform: rotate(-45deg) translate(-20px, 20px);
			opacity: 0;
		}
	}

	@keyframes sdb05 {
		0% {
			transform: rotate(-45deg) translate(0, 0);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: rotate(-45deg) translate(-20px, 20px);
			opacity: 0;
		}
	}


	.pageOne {
		
		position: relative;
		background:url("https://images.unsplash.com/photo-1462819067004-905a72ea3996?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4832f28a526c7a3538a887b8fbbfe897");
		background-size: cover;
		height: 95vh;
		width: 100%;
		
	}

	.chip8 {
		color: white;

	}

	.chip82 {
		color: white; 
	}

	.pageTwo {
		
		background-color: rgb(17, 85, 119);
		background-size: cover;
		overflow: auto;
		width: 100%;
		
	}

	.progress-info {
		color: blue;

	}
	.pageSkills {
		padding: 20px;
		/*height: 95vh; */
		overflow: auto;
		color: black;
	}

	.pageContact {
		padding: 30px;
		height: 500px;
		color: rgb(17, 85, 119);
	}

	#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background-color: white;
	}

	#loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #3498db;
		z-index: 1001;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	#loader:before {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #e74c3c;
		-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	#loader:after {
		content: "";
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #f9c922;
		-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}

	@-webkit-keyframes spin {
	  0%   { 
	  	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */ 
	  }

	  100% { 
	  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */ 
	  }
	}

	@keyframes spin {
	   0%   { 
	  	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */ 
	  }

	  100% { 
	  	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */ 
	  }
	}

	#loader-wrapper .loader-section {
		position: fixed;
		top: 0;
		width: 51%;
		height: 100%;
		background: white;
		z-index: 1000; 
	}

	#loader-wrapper .loader-section.section-left {
		left: 0;
	}

	#loader-wrapper .loader-section.section-right {
		right: 0;
	}

	/* loaded styles */
	.loaded #loader-wrapper .loader-section.section-left {
		-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */ 

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	}

	.loaded #loader-wrapper .loader-section.section-right {
		-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */ 

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	}

	.loaded #loader {
		opacity: 0;
		-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        	transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	}

	.loaded #loader-wrapper {
		visibility: hidden;

		-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      	-ms-transform: translateY(-100%);  /* IE 9 */
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */ 

        -webkit-transition: all 0.3s 0.6s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
        	transition: all 0.3s 0.6s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
	}

	@media (max-width: 420px) and (min-width: 363px){
		.ih-item {

			margin-left: -20%;
			
		}
	}

	@media (max-width: 362px) {
		.ih-item {

			margin-left: -30%;
			
		}
	}

	@media (max-width: 768px) and (min-width: 421px){
		.ih-item {

			margin-left: auto;
			margin-right: auto;
			
		}
	}



